In [9]:
import pandas as pd

from hydra.utils import instantiate
from hydra import compose, initialize
from hydra.core.global_hydra import GlobalHydra

from data_pipeline.pipelinesteps import data_splitter
from model.modelorchastrator import ModelOrchestrator
from data_pipeline.dataset import Dataset
from evaluate.metric_eval import ModelEvaluator

In [10]:
# Create config
GlobalHydra.instance().clear()
initialize(config_path="../../", version_base=None)
cfg = compose(config_name="config")

In [11]:
# Create Dataset
df = pd.read_feather("../../data/parquet_files/train/processed_train.feather")
data_pipeline = instantiate(cfg.data_pipeline)
df = pd.read_feather("../../data/parquet_files/train/processed_train.feather")
df = data_pipeline.apply(df)

dataset = Dataset(data=df, data_splitter=data_splitter, target_column='target')

In [12]:
model_orchestrator = ModelOrchestrator(cfg.model)

model = model_orchestrator.modelpipeline
ME = ModelEvaluator(model.pipeline[-1], ['roc_auc_ovr', 'f1'])

In [13]:
model.fit(dataset.X_train, dataset.y_train)

c:\Users\bartw\anaconda3\envs\credit_score\Lib\site-packages\optbinning\binning\transformations.py:38: RuntimeWarning: invalid value encountered in log
  return np.log((1. / event_rate - 1) * n_event / n_nonevent)

In [14]:
model.transform_without_predictor(dataset.X_train)

c:\Users\bartw\anaconda3\envs\credit_score\Lib\site-packages\optbinning\binning\transformations.py:38: RuntimeWarning: invalid value encountered in log
  return np.log((1. / event_rate - 1) * n_event / n_nonevent)

,index,case_id,numberofcontrsvalue_358L_max,nominalrate_281L_min,classificationofcontr_400M_mode,totaldebtoverduevalue_178A_max,collater_valueofguarantee_876L_mean,pmts_overdue_1140A_max,credacc_cards_status_52L_mode,credacc_cards_status_52L_last,last180dayaveragebalance_704A_last,last180dayaveragebalance_704A_mean,last180dayaveragebalance_704A_max
221249,221249,605782,NaN,NaN,0.000000,NaN,NaN,0.000,0.000000,0.0,NaN,NaN,NaN
1220007,1220007,1814036,8.0,NaN,0.116197,0.0,0.000000,3254.518,0.000000,0.0,NaN,NaN,NaN
1168023,1168023,1762052,12.0,39.0,0.116197,0.0,1250.000000,0.000,-0.150829,0.0,NaN,NaN,NaN
145230,145230,190664,4.0,42.0,0.116197,0.0,0.000000,0.000,0.000000,0.0,NaN,NaN,NaN
338605,338605,723138,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
222458,222458,606991,NaN,NaN,0.000000,NaN,NaN,4585.916,0.000000,0.0,NaN,NaN,NaN
138401,138401,183835,8.0,4.8,0.116197,0.0,19866.545455,0.000,0.510547,0.0,NaN,NaN,NaN
183208,183208,228642,1.0,NaN,0.116197,0.0,0.000000,3559.084,0.000000,0.0,NaN,NaN,NaN
222110,222110,606643,NaN,NaN,0.000000,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN
1016418,1016418,1610447,3.0,NaN,0.116197,0.0,0.000000,0.000,0.000000,0.0,NaN,NaN,NaN

In [15]:
ME.evaluate(model.transform_without_predictor(dataset.X_train), dataset.y_train)

c:\Users\bartw\anaconda3\envs\credit_score\Lib\site-packages\optbinning\binning\transformations.py:38: RuntimeWarning: invalid value encountered in log
  return np.log((1. / event_rate - 1) * n_event / n_nonevent)

In [ ]:
from sklearn.metrics import get_scorer_names
all_scorers = get_scorer_names()
all_scorers

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'jaccard',
 'jaccard_macro',
 'jaccard_micro',
 'jaccard_samples',
 'jaccard_weighted',
 'matthews_corrcoef',
 'max_error',
 'mutual_info_score',
 'neg_brier_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_absolute_percentage_error',
 'neg_mean_gamma_deviance',
 'neg_mean_poisson_deviance',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'neg_negative_likelihood_ratio',
 'neg_root_mean_squared_error',
 'neg_root_mean_squared_log_error',
 'normalized_mutual_info_score',
 'positive_likelihood_ratio',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'rand_score',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'roc_auc_ovo',
 'roc_auc_ovo_weighted',
 'roc_auc_ovr',
 'roc_auc_ovr_weighted',
 'top_k_accuracy',
 'v_measure_score']